<% if @user.errors.any? %>
  <div id="error_explanation" class="col-md-12">
    <div class="alert alert-danger text-center">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li class="col-md-offset-5"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h2 class="col-md-12 new-user-header text-center">Sign Up</h2>
<div class="col-md-5 user-back-button">
  <a href="/"><button class="btn btn-default">
    &larr; Back
  </button></a>
</div>
<div class="col-md-9 col-md-offset-2 user-form">
  <div class="row">
    <div class="container-fluid">
      <%= form_for(@user) do |f| %>
      <form class="form-horizontal" role="form" class="edit-user" name="userForm">
        <div class="form-group">
          <label 
            for="name" 
            class="col-md-3 control-label">
            Name
          </label>
          <div class="col-md-8">
            <%= f.text_field :name, class: "user-form-item col-md-4 form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label 
            for="email" 
            class="col-md-3 control-label">
            Email
          </label>
          <div class="col-md-8">
            <%= f.text_field :email, class: "user-form-item col-md-4 form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label 
            for="password" 
            class="col-md-3 control-label">
            Password
          </label>
          <div class="col-md-8">
            <%= f.password_field :password, class: "user-form-item col-md-4 form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label 
            for="password_confirmation" 
            class="col-md-3 control-label">
            Confirm Password
          </label>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, class: "user-form-item col-md-4 form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label 
            for="admin-key" 
            class="col-md-3 control-label">
            Admin Key
          </label>
          <div class="col-md-8">
            <%= f.text_field :admin_key, class: "user-form-item col-md-4 form-control" %>
          </div>
        </div>
        <div class="col-md-8">
            <%= f.submit "Create my account", class: "col-md-4 btn btn-primary col-md-offset-9" %>
        </div>
	  </form>
	  <% end %>
    </div>
  </div>
</div>